@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --fundo:#241212;
    --texto:#fcd5d5;
   --fraca:#e7737e;
   --media:#f55477;
   --forte:#f70a51;
   --tabela:#3f1e1e;
   --marcador:#fd9c9c;
}
body{
    background-color: var(--fundo);
    color:var(--texto);
    
}
.corpo{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-family: "Rooto Mono", monospace;
}
.titulo-principal{
    font-size:32px;
}
.titulo-secundario{
    font-size: 24px;
}
.conteudo-senha{
    margin-top: 80px;
    background-color: var(--tabela);
    padding: 24px;
    border-bottom: 6px solid var(--marcador);
    font-family: "Rooto Mono", monospace;
}
.coteudo{
    max-width: 12000px;
    margin:0 auto;
}
.parametro{
    background-color: var(--fundo);
    border:2px solid var(--tabela);
    margin-top: 32px;
    padding: 24px;
}
.parametro-titulo{
    width: 50%;
    margin:0 auto;
}
.parametro-senha-botoes{
    display:flex;
    justify-content:center;
}
.parametro-senha-botao{
    background-color: var(--fundo);
    color:var(--texto)
    border: 2px solid var(var(--texto));
    padding: 24px;
    font-size: 24px;
cursor:pointer;
}